body {
    background: #213555;
}

#loader {
    width: 50px;
    height: 50px;
    border: 5px solid white;
    border-bottom-color: transparent;
    border-radius: 50%;
    position: absolute;
    top: 10px;
    left: 10px;
    animation: loader 1.5s infinite ease;
    animation-delay: 1s;
}

@keyframes loader {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
    
}

.ball {
    width: 17px;
    height: 17px;
    border: 5px solid rgb(255, 0, 0);
    border-radius: 100%;
    background-color: red;

    position: absolute;
    top: 10%;
    left: 7%;
    margin-top: -8.5px;
    margin-left: -8.5px;
    
    animation: ball 1.5s infinite ease;
    animation-delay: 3s;

}

@keyframes ball {
    0% {
        top: 35%;
    }
    50% {
        top: 15%;
    }
    100% {
        top: 35%;
    }
}


