
body {
    font-family: 'Roboto', sans-serif;
    background-color: #f4e7db; 
    color: #333;
    line-height: 1.6;
    padding: 20px;
}

.container {
    max-width: 800px;
    margin: 0 auto;
}

.card {
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    padding: 20px;
}

.recipe-image {
    width: 100%;
    height: auto;
    border-radius: 10px;
}

h1 {
    font-size: 2rem;
    margin: 20px 0;
    text-align: center;
}

.description {
    text-align: center;
    color: #666; 
    margin-bottom: 20px;
    font-size: 1.1rem; 
}

h2 {
    font-size: 1.5rem;
    color: #fd7d7d; 
    margin-bottom: 10px;
}

ul, ol {
    margin-left: 20px;
    margin-bottom: 20px;
}

li {
    margin-bottom: 10px;
    font-size: 1rem; 
}

.prep-time ul, .nutrition ul {
    list-style-type: none;
    padding-left: 0;
}

.prep-time ul li, .nutrition ul li {
    margin-bottom: 5px;
}

.instructions ol {
    list-style-type: decimal;
    font-size: 1rem;
}
