/* 1. შექმენით საიტი, სადაც დაამატებთ ფოტოს, შემდეგ კი ის გადაიტანთ საიტის შუაში, ეცადეთ მას გაუკეთოთ საზღვარიც,
საიტზე დაამატეთ პარაგრაფიც. */

img{
    margin-top: 100px;
    margin-left: 250px;
    border: solid 30px yellow;
    padding: 30px;
}