body{
    background-color: rgb(173, 250, 255);
}

.white{
    height: 480px;
    width: 300px;
    background-color: white;
    margin: auto;
    margin-top: 300px;
    border-radius: 20px;
}

.img{
    border-radius: 20px;
    margin-left: 10px;
    margin-top: 10px;
    height: 250px;
    width: 280px;
}

h2{
    font-size: 18px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
}

p{
    font-size: 14px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    margin-top: 20px;
    color: rgb(104, 104, 104);
}
