h1{
    color: rgb(255, 221, 0)
}
h2{
    color: rgb(0, 0, 0)
}
h3{
    color: rgb(140, 0, 255)
}
h4{
    color: rgb(72, 29, 29)
}
#gg1{
    width: 10%;
    height: 10%;
}
#gg2{
    width: 20%;
    height: 20%;
}
#gg3{
    width: 30%;
    height: 30%;
}
#gg4{
    width: 40%;
    height: 40%;
}
#gg5{
    width: 50%;
    height: 510%;
}